@import "../../Global";

.container.signIn {
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  padding: 30px;
  margin-top: 100px;

  .brandImage {
    width: 100%;
    @include flex(center, center)
  }

  .buttonRow {
    width: 100%;
    padding: 25px 10px 20px;
    @include flex(center, center);

    &:last-child {
      padding: 5px;
    }
  }
}
